.comp-title {
    color: #fff;
    margin-bottom: 50px;
}

.comp-title-blok {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.comp-title-blok p {
    color: var(--orange-color);
}

.comp-title-blok h1 {
    font-size: 300%;
    text-align: center;
}

@media (max-width: 768px) {
    .comp-title-blok h1 {
        font-size: 250%;
    }
}

@media (max-width: 600px) {
    .comp-title-blok h1 {
        font-size: 200%;
    }
}